Flask>=3.1
PyPDF2>=3.0
pypdf>=4.0
psutil>=5.9.8
opencv-python>=4.10
Flask-SQLAlchemy>=3.1.1
PyJWT>=2.9
bcrypt>=4.2
Flask-Cors>=4.0
numpy>=2.1
Werkzeug>=3.1
python-dotenv>=1.0
pytest>=8.3
pytest-flask>=1.3
   gunicorn
   psycopg2-binary>=2.9
SQLAlchemy

openai

ultralytics

python-dotenv